*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background: #141223;
}
.section{
    width: 100%;
}
.box_news{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}





.categiries_box{
    min-width: 300px;
    height: 50px;
    border-radius: 10px;
    font-size: 18pt;
    padding: 0px 10px;
    font-weight: 100;
    color: #fff;
    background: transparent;
    border: 1px solid white;
    cursor: pointer;
    
}
.categiries{
    font-weight: 100;
    color: rgb(255, 247, 247);
    border: transparent;
    background: #141223;
}

@keyframes a1{
    from{
        transform: scale(1.5);
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}



.buttons{

    display: flex;
    justify-content: space-around;
    margin: 30px auto;
    width: 50%;
}

.btn{
    font-size: 18pt;
    margin-left: 50px;
    padding: 5px  20px;
    color: #fff;
    border-radius: 10pt;
    background: rgba(255, 255, 255, 0);
    border: 1px solid white;
    transition: background .3s, color .2s, cursor .2s;
}
.btn:hover{
    background: #ffffff;
    color: rgb(0, 0, 0);
    cursor: pointer;
}




.news_box{
    background: rgb(19, 19, 19);
    color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    min-width: 300px;
    max-width: 700px;
    border-radius: 20px;
    animation-name: a1;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    transition: transform .3s;
}

.news_box:hover{
    transform: scale(1.01);
}

.image{
    object-fit: cover;
    width: 100%;
    border-radius: 18px;
    margin-bottom: 5px;
    cursor: pointer;
}
/* Заголовок */
.title{
    text-decoration: none;
    color: #fff;
    font-size: 26pt;
    padding-left: 20px;
    font-weight: 900;
    margin-bottom: 10px;
}
.title:hover{
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
.urlBox{
    margin-bottom: 30px;
    padding: 0 30px;
    text-decoration: none;
    font-size: 15pt;
    color: #fff;

}

@media only screen and (max-width: 560px) {
    .box_news{
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
    }
    .categiries_box{
        width: 80%;
        height: 70px;
        border-radius: 10px;
        font-size: 25pt;
        padding: 0px 10px;
        font-weight: 100;
        color: #fff;
        background: transparent;
        border: 1px solid white;
        cursor: pointer;
        
    }
    .buttons{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;
        justify-self:center;
        margin: 30px auto;
        width: 100%;
    }
    .btn{
        margin: 30px auto;
        font-size: 25pt;
        height: 60px;
        width: 80%;
        padding: 5px  20px;
        border-radius: 10pt;
        background: rgba(255, 255, 255, 0);
        border: 1px solid white;
        transition: background .3s, color .2s, cursor .2s;
    }
    .news_box{
        padding: 3px 3px;
        display: flex;
        flex-direction: column;
        margin: 20px auto;
        width: 90%;
        border-radius: 20px;


        animation-name: a1;
        animation-duration: .5s;
        animation-timing-function: ease-in-out;
        transition: transform .3s;
    }
    .title{
        font-size: 20pt;
        margin: 20px auto;
        padding-left: 15px;
        font-weight: 900;
        margin-bottom: 5px;
    }
    .urlBox{
        margin-bottom: 20px;
        padding: 0 25px;
        text-decoration: none;
        font-size: 15pt;
        color: #fff;
    
    }
}
