*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background: #141223;
}
.section{
    width: 100%;
}
.box_news{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
.news_box{
    background: rgb(19, 19, 19);
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 400px;
    animation-name: a1;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
}
.news_box a {
    margin: 20px 0;
}

.image{
    object-fit: cover;
    width: 100%;
}
.title{
    margin: 30px 0;

}
.Link{
    text-decoration: none;
}
.content{
    margin: 20px 0;
}

.select{
    transition: .2s;
}
.select:focus{
    border: transparent;
    transition: .2s ;

}
.categiries_box{
    width: 500px;
    height: 50px;
    border-radius: 10px;
    font-size: 18pt;
    padding: 0px 10px;
    font-weight: 100;
    background: #fff;
}
@keyframes a1{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.btn{
    font-size: 18pt;
    margin-left: 50px;
    border-radius: 10pt;
    background: #fff;
    border: transparent;
    transition: background .2s, color .2s, cursor .2s;
}
.btn:hover{
    background: #141223;
    color: #fff;
    cursor: pointer;
}
.buttons{

    display: flex;
    justify-content: space-around;
    margin: 30px auto;
    width: 20%;
}
.buttons button{
    padding: 5px  20px;
}